html{
  position: relative;
  min-height: 100%;
}

.navbar{
  padding: 30px 15%;
}

.nav-link{
  margin-left: 20px;
  letter-spacing: 0.25rem;
  font-family: "Montserrat";
  font-weight: 300;
}

.navbar-light .navbar-brand{
  letter-spacing: 0.25rem;
  font-family: "Montserrat";
  color: gray;
}

.footer{
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #9b59b6;
}

.footer-text{
  font-family: "Montserrat";
  color: white;
}

.posts{

}

.post{
  
}

.post-title{

}

.post-body{

}
